
.logo{
    display: block;
    margin-top: 20%;
<<<<<<< HEAD
    font-family: Cabin Sketch;
    color: #454D56;
    font-size: 80px;
=======
    font-family: fantasy;
    color: white;
    font-size: 60px;
>>>>>>> a6dda3072116ea3b03a43a4dafa944e8ce443fc1
}

h4
{
    color: #454D56;
    text-align: center;
}

img{
    margin-top: 10%;
}

.bug {
    height: 20vw;
    width: 20vw;
    margin-left: 70px;
    margin-right: auto;



}
body
{
    margin-left: 70px;
    background-color: #FFF7F0;
    font-family: Patrick Hand, cursive;
    font-size: 20px;

}

img.displayed {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 50%;

}


footer{
    background-color: #F0882D;
    color: white;

}