h3
{
    color: white;
    text-align: center;
}

.bug {
    height: 15vw;
    width: 15vw;


}
body
{
    background-color: #BDA44D;
}

footer
{
    height: 10vw;
    background-color: rgb(198,8,0);
}